<!DOCTYPE html>
<html ng-app="kApp">
<head>
    <meta charset="UTF-8"/>
    <title>Kalendarze, fotogadżety, zaproszenia, wizytówki - projektowanie online</title>
    <base href="/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/jPicker/css/jPicker-1.1.6.min.css">
    <link rel="stylesheet" href="/cropperjs/dist/cropper.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.14.1/lodash.min.js"></script>
    <script src="/js/vendor.min.js"></script>
    <script src="/js/bundle.min.js"></script>

    <link rel="icon" type="image/x-icon" href="/img/favicon.ico"/>
</head>
<body ng-controller="MainController" cz-shortcut-listen="true">
{% block body %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script src="/cropperjs/dist/cropper.min.js"></script>
</body>
</html>

