@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?-iw3kgv');
  src: url('/fonts/icomoon.eot?#iefix-iw3kgv') format('embedded-opentype'),
  url('/fonts/icomoon.ttf?-iw3kgv') format('truetype'),
  url('/fonts/icomoon.woff?-iw3kgv') format('woff'),
  url('/fonts/icomoon.svg?-iw3kgv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.icon-2x {
  font-size: 2em;
}

.icon-rotate-90 {
  transform: rotate(90deg);
}

.icon {
  font-family: 'icomoon', sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil-square-o:before {
  content: "\f044";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-file-text-o:before {
  content: "\f0f6";
}

.icon-dots-vertical:before {
  content: "\e621";
}

.icon-th:before {
  content: "\f00a";
}

.icon-close:before {
  content: "\f00d";
}

.icon-repeat:before {
  content: "\f01e";
}

.icon-font:before {
  content: "\f031";
}

.icon-bold:before {
  content: "\f032";
}

.icon-italic:before {
  content: "\f033";
}

.icon-pencil:before {
  content: "\f040";
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-chevron-right:before {
  content: "\f054";
}

.icon-question-circle:before {
  content: "\f059";
}

.icon-exclamation-triangle:before {
  content: "\f071";
}

.icon-folder-open:before {
  content: "\f07c";
}

.icon-cut:before {
  content: "\f0c4";
}

.icon-copy:before {
  content: "\f0c5";
}

.icon-strikethrough:before {
  content: "\f0cd";
}

.icon-underline:before {
  content: "\f0ce";
}

.icon-caret-down:before {
  content: "\f0d7";
}

.icon-caret-up:before {
  content: "\f0d8";
}

.icon-rotate-left:before {
  content: "\f0e2";
}

.icon-clipboard:before {
  content: "\f0ea";
}

.icon-eraser:before {
  content: "\f12d";
}

.icon-file-text:before {
  content: "\f15c";
}

.icon-paint-brush:before {
  content: "\f1fc";
}

.icon-birthday-cake:before {
  content: "\f1fd";
}

.icon-object-align-bottom:before {
  content: "\e619";
}

.icon-object-align-horizontal:before {
  content: "\e61a";
}

.icon-object-align-right:before {
  content: "\e618";
}

.icon-object-align-vertical:before {
  content: "\e601";
}

.icon-object-align-left:before {
  content: "\e602";
}

.icon-object-align-top:before {
  content: "\e606";
}

.icon-bring-to-front:before {
  content: "\e615";
}

.icon-send-to-back:before {
  content: "\e616";
}

.icon-bring-forward:before {
  content: "\e623";
}

.icon-send-backwards:before {
  content: "\e624";
}

.icon-cube:before {
  content: "\e608";
}

.icon-mountains:before {
  content: "\e60f";
}

.icon-textbox:before {
  content: "\e611";
}

.icon-square:before {
  content: "\e612";
}

.icon-layout:before {
  content: "\e60d";
}

.icon-template:before {
  content: "\e610";
}

.icon-blackboard:before {
  content: "\e60e";
}

.icon-height:before {
  content: "\e604";
}

.icon-width:before {
  content: "\e605";
}

.icon-fullscreen:before {
  content: "\e600";
}

.icon-frame-o:before {
  content: "\e640";
}

.icon-mask:before {
  content: "\e614";
}

.icon-shopping-cart:before {
  content: "\e617";
}

.icon-brightness-medium:before {
  content: "\e61e";
}

.icon-color-fill:before {
  content: "\e61f";
}

.icon-format-line-spacing:before {
  content: "\e613";
}

.icon-arrow-down:before {
  content: "\e61d";
}

.icon-compare:before {
  content: "\e620";
}

.icon-flip:before {
  content: "\e625";
}

.icon-tonality:before {
  content: "\e627";
}

.icon-pictures:before {
  content: "\e633";
}

.icon-wallet:before {
  content: "\e61c";
}

.icon-camera:before {
  content: "\e609";
}

.icon-plus:before {
  content: "\e61b";
}

.icon-minus:before {
  content: "\e607";
}

.icon-brightness:before {
  content: "\e603";
}

.icon-eye:before {
  content: "\f04e";
}

.icon-paintcan:before {
  content: "\f0d1";
}

.icon-screen-full:before {
  content: "\f066";
}

.icon-screen-normal:before {
  content: "\f067";
}

.icon-versions:before {
  content: "\f064";
}

.icon-frame:before {
  content: "\e60a";
}

.icon-stats:before {
  content: "\e60b";
}

.icon-filter:before {
  content: "\e60c";
}

.icon-paint-format:before {
  content: "\e90c";
}

.icon-image:before {
  content: "\e90d";
}

.icon-images:before {
  content: "\e90e";
}

.icon-undo:before {
  content: "\e967";
}

.icon-redo:before {
  content: "\e968";
}

.icon-search:before {
  content: "\e986";
}

.icon-zoom-in:before {
  content: "\e987";
}

.icon-zoom-out:before {
  content: "\e988";
}

.icon-magic-wand:before {
  content: "\e997";
}

.icon-bin:before {
  content: "\e9ac";
}

.icon-save:before {
  content: "\e9c5";
}

.icon-eye-blocked:before {
  content: "\e9d1";
}

.icon-shuffle:before {
  content: "\ea30";
}

.icon-tab:before {
  content: "\ea45";
}

.icon-crop:before {
  content: "\ea57";
}

.icon-make-group:before {
  content: "\ea58";
}

.icon-ungroup:before {
  content: "\ea59";
}

.icon-clear-formatting:before {
  content: "\ea6f";
}

.icon-insert-template:before {
  content: "\ea72";
}

.icon-paragraph-left:before {
  content: "\ea77";
}

.icon-paragraph-center:before {
  content: "\ea78";
}

.icon-paragraph-right:before {
  content: "\ea79";
}

.icon-paragraph-justify:before {
  content: "\ea7a";
}

.icon-new-tab:before {
  content: "\ea7e";
}