.icon-select {
  width: 0;
  .selected-box {
    position: relative;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 30px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border .3s;

    &:hover {
      position: relative;
      margin: 0;
      padding: 0;
      border: solid 1px #707070;
      box-shadow: 0 0 5px 1px #969696;
      background-color: #fff;
    }
  }
  .selected-icon {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 5px;
    left: 5px;
    border-radius: 3px;
  }
  .component-icon {
    position: absolute;
    bottom: 5px;
    right: 4px;
  }
  .box {
    position: absolute;
    top: -5px;
    left: 55px;
    margin: 0;
    padding: 0;
    width: 113px;
    border: 1px solid #eee;
    background-color: #eee;
    border-radius: 3px;
    z-index: 100;
    overflow: auto;
  }
  .icon {
    position: relative;
    margin: 5px 0 0 5px;
    padding: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    float: left;

    &:hover {
      border: 1px solid #000;
    }

    &.selected {
      position: relative;
      margin: 5px 0 0 5px;
      padding: 0;
      border: 1px solid #eee;
      background-color: #eee;
      border-radius: 3px;
      overflow: hidden;
      float: left;
    }
  }
}