.bx-wrapper {
  position: relative;
  margin: -90px auto 0;
  padding: 0;

  .calendar {
    border: 1px solid #d4d4d4;
  }

  img {
    max-width: 100%;
    display: block;
  }

  .bx-viewport {
    left: -5px;
    padding-bottom: 20px;
    transform: translateZ(0);
    box-shadow: none;
    border: 0;
    background: transparent;
    overflow: visible !important;
  }

  .bx-pager,
  .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
  }

  .bx-loading {
    min-height: 50px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
  }

  .bx-pager {
    text-align: center;
    font-size: 1.5em;
    font-family: Times, sans-serif;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
  }

  .bx-pager .bx-pager-item,
  .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
  }

  .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    outline: 0;
    border-radius: 5px;
  }

  .bx-pager.bx-default-pager a:hover,
  .bx-pager.bx-default-pager a.active {
    background: #000;
  }

  .bx-prev {
    left: -100px;
    background: url('/img/controls.png') no-repeat 0 -32px;

    &:hover {
      background-position: 0 0;
    }
  }

  .bx-next {
    right: -85px;
    background: url('/img/controls.png') no-repeat -43px -32px;

    &:hover {
      background-position: -43px 0;
    }
  }

  .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 199;

    &.disabled {
      display: none;
    }
  }

  .bx-controls-auto {
    text-align: center;

    .bx-start {
      display: block;
      text-indent: -9999px;
      width: 10px;
      height: 11px;
      outline: 0;
      background: url(/img/controls.png) -86px -11px no-repeat;
      margin: 0 3px;

      &:hover,
      &.active {
        background-position: -86px 0;
      }
    }

    .bx-stop {
      display: block;
      text-indent: -9999px;
      width: 9px;
      height: 11px;
      outline: 0;
      background: url(/img/controls.png) -86px -44px no-repeat;
      margin: 0 3px;

      &:hover,
      &.active {
        background-position: -86px -33px;
      }
    }
  }

  .bx-controls.bx-has-controls-auto.bx-has-pager {
    .bx-pager {
      text-align: left;
      width: 80%;
    }

    .bx-controls-auto {
      right: 0;
      width: 35px;
    }
  }

  .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666 \9
  ;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;

    span {
      color: #fff;
      font-family: Arial, Tahoma, sans-serif;
      display: block;
      font-size: .85em;
      padding: 10px;
    }
  }
}
