{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block content %}
    <link rel="stylesheet" href="/css/admin.min.css">
    {% if msg %}
        <div class="admin-error">
            {{ msg }}
        </div>
    {% endif %}
    {{ sonata_block_render_event('sonata.admin.dashboard.top', { 'admin_pool': admin_pool }) }}

    {% if blocks.top|length > 0 %}
        <div class="row">
            {% for block in blocks.top %}
                <div class="{{ block.class }}">
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <div class="row">
        <div class="col-md-7 col-lg-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-shopping-bag"></i> Ostatnie Zamówienia
                    </h3>
                </div>

                <div class="box-body">

                    <table class="sonata-order-block-order-container table table-condensed">
                        {% for order in orders %}
                            <tr>
                                <td><a href="/admin/app/orders/{{ order.id }}/edit">#{{ order.id }}</a></td>
                                <td class="number">{{ order.suma|number_format(2, '.', ',') }} zł</td>
                                <td>
                                    <span class="label label-{% if order.idStatus == 1 %}info{% elseif order.idStatus == 2 %}danger{% else %}success{% endif %}">{{ order.status }}</span>
                                </td>
                                <td>{{ order.data|date("m-d-Y G:i") }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="box-footer">
                    <a href="/admin/app/orders/list" class="btn btn-primary btn-block"><i class="fa fa-list"></i>&nbsp;Zobacz wszystkie
                        zamówienia</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-5">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ newOrdersCount }}</h3>

                    <p>Oczekujące zamówienia <i class="icon-box fa fa-shopping-bag"></i></p>
                </div>

                <a href="/admin/app/orders/list" class="small-box-footer">
                    Zobacz więcej <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-5">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>0</h3>

                    <p>Aktywne aukcje <i class="icon-box fa fa-shopping-cart"></i></p>
                </div>
                <a href="#" class="small-box-footer">
                    Zobacz więcej <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-7 col-lg-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-shopping-cart"></i> Aukcje Allegro
                    </h3>
                </div>

                <div class="box-body">

                    <table class="sonata-order-block-order-container table table-condensed">
                        <!--<tr>
                            <td>#95</td>
                            <td><a href="#">Kalendarz A3</a></td>
                            <td class="number">23.00 PLN</td>
                            <td><i class="fa fa-eye"></i> 20 <i class="fa fa-dollar"></i> 0 <i
                                        class="fa fa-product-hunt"></i> 0
                            </td>
                            <td>pozostało 12h</td>
                        </tr> -->
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% if blocks.bottom|length > 0 %}
        <div class="row">
            {% for block in blocks.bottom %}
                <div class="{{ block.class }}">
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {{ sonata_block_render_event('sonata.admin.dashboard.bottom', { 'admin_pool': admin_pool }) }}
{% endblock %}
