{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:edit_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block show %}
    <div class="sonata-ba-view">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% for name, view_group in admin.showgroups %}
            <table class="table table-bordered">
                {% if name %}
                    <thead>
                    {% block show_title %}
                        <tr class="sonata-ba-view-title">
                            <th colspan="3"
                                style="color: #fff;background: #2c3b41;text-transform:uppercase;text-align:center;">
                                Zamówienie
                            </th>
                        </tr>
                    {% endblock %}
                    </thead>
                {% endif %}

                <tbody>
                {% for field_name in view_group.fields %}
                    {% block show_field %}
                        {% if field_name == "client" %}
                            <tr class="sonata-ba-view-container">
                                <th colspan="3"
                                    style="color: #fff;background: #2c3b41;text-transform:uppercase;text-align:center;">
                                    Adres dostawy
                                </th>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Imię i nazwisko</th>
                                <td colspan="2">{{ client.name }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Firma</th>
                                <td colspan="2">{{ client.company }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Kod pocztowy</th>
                                <td colspan="2">{{ client.zip }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Miasto</th>
                                <td colspan="2">{{ client.city }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Kraj</th>
                                <td colspan="2">{{ client.country }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Telefon</th>
                                <td colspan="2">{{ client.phone }}</td>
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th>Adres</th>
                                <td colspan="2">{{ client.address }}</td>
                            </tr>
                        {% elseif field_name == "deliveryId" %}
                            <tr class="sonata-ba-view-container">
                                <th>Sposób dostawy</th>
                                <td colspan="2">{{ delivery.name }}</td>
                            </tr>
                        {% elseif field_name == "statusId" %}
                            <tr class="sonata-ba-view-container">
                                <th>Status</th>
                                <td colspan="2">{{ status.name }}</td>
                            </tr>
                        {% elseif field_name == "promo" %}
                            <tr class="sonata-ba-view-container">
                                <th>{{ field_name|capitalize }}</th>
                                <td colspan="2">{{ promo.code }}</td>
                            </tr>
                        {% elseif field_name == "projects" %}
                            {% if promo %}
                                <tr class="sonata-ba-view-container">
                                    <th colspan="3">Promo</th>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th></th>
                                    <th>Code</th>
                                    <td>{{ promo.code }}</td>
                                </tr>
                                <tr class="sonata-ba-view-container">
                                    <th></th>
                                    <th>Value</th>
                                    <td>{% if promo.type == 2 %} - {% endif %} {{ promo.value }} {% if promo.type == 1 %} % {% endif %}</td>
                                </tr>
                            {% endif %}
                            <tr class="sonata-ba-view-container">
                                <th colspan="3"
                                    style="color: #fff;background: #2c3b41;text-transform:uppercase;text-align:center;">
                                    Produkty
                                </th>
                            </tr>
                            {% for key, value in products %}
                                {% for kk, vv in value %}
                                    <tr class="sonata-ba-view-container">
                                        {% if kk == "id" %}
                                            <th rowspan="8" style="vertical-align: middle;text-align: center;">#{{ loop.index }}</th>{% endif %}
                                        {% if kk == "name" %}
                                            <th>Nazwa projektu</th>
                                            <td>{{ vv }}</td>
                                        {% elseif kk == "add_date" %}
                                            <th>Data</th>
                                            <td>{{ vv['date'] }}</td>
                                        {% elseif kk == "quantity" %}
                                            <th>Ilość</th>
                                            <td>{{ vv }}</td>
                                        {% elseif kk == "addons" %}
                                            {% for a_k, a_v in vv %}
                                                <ul>
                                                    {% for aa_k, aa_v in a_v %}
                                                        <li>
                                                            <b>{{ aa_k|capitalize }}</b>:
                                                            {% if aa_v == "created_at" %}
                                                                {{ aa_v['date'] }}
                                                            {% else %}
                                                                {{ aa_v }}
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endfor %}
                                        {% endif %}

                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            <tr class="sonata-ba-view-container">
                                <th colspan="3"
                                    style="color: #fff;background: #2c3b41;text-transform:uppercase;text-align:center;">
                                    Pozostałe informacje
                                </th>
                            </tr>
                        {% else %}
                            <tr class="sonata-ba-view-container else-container">
                                {% if elements[field_name] is defined %}
                                    {{ elements[field_name]|render_view_element(object) }}
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endblock %}
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}

        {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}

    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.else-container td:last-of-type').each(function () {
                $(this).attr('colspan', 2);
            });
        });
    </script>
{% endblock %}