{# src/AppBundle/Resources/views/Register/register.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/user/css/login.css') }}" />
{% endblock %}

{% block body %}
    <section class="login">
        <article>
            <h1>Register</h1>

            <form action="{{ path('user_register') }}" method="POST">
                {{ form_errors(form) }}

                {{ form_row(form.username, {label: 'Nazwa uzytkownika'}) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password.first, {label: 'Haslo'}) }}
                {{ form_row(form.password.second, {label: 'Powtorz haslo'}) }}

                {{ form_rest(form) }}

                <input type="submit" class="btn btn-primary pull-right" value="Register!" />
            </form>

        </article>
    </section>
{% endblock %}