Witaj {{ name }},
<br />
Dziękujemy za złożenie zamówienia w naszym serwisie.
<br /><br />
<strong>KWOTA ZAMÓWIENIA</strong><br />
<strong>Suma brutto: </strong> {{ suma }} PLN<br />
<br />
<strong>ADRES DOSTAWY</strong><br />
<strong>Imię i nazwisko: </strong> {{ name }} <br />
<strong>Adres: </strong> {{ adres }} <br />
<strong>Kod pocztowy: </strong> {{ kod }} <br />
<strong>Miasto: </strong> {{ miasto }} <br />
<strong>Kraj: </strong> {{ kraj }} <br />
