{% extends 'AppBundle::base.html.twig' %}
{% block body %}

    <script type="text/javascript">
        hashUser = {{ user_id }};
        projectName = "";
        userName = "{% if app.user != null %}{{ app.user.getUsername() }}{% else %}{% endif %}";
    </script>

    <div ng-controller="HeaderController" class="fixed-menu">
        <nav class="navigation">
                <div class="pull-right navigation-element">
                    <a href ng-click="$parent.openBasket()">
                        <i class="icon icon-shopping-cart icon-lg nav-shop-icon"></i>KOSZYK
                    </a>
                </div>
                <div ng-show="username" class="pull-right">
                    <span class="navigation-username">Witaj, <span ng-bind="username"></span></span>
                </div>
                <div ng-show="view == 2">
                    <div ng-class="{active: activeTab('/tools')}" class="navigation-element">
                        <a href="#/tools">Narzędzia</a>
                    </div>
                    <div ng-class="{active: activeTab('/photos')}" class="navigation-element">
                        <a href="#/photos">Moje zdjęcia</a>
                    </div>
                    <div ng-class="{active: activeTab('/wstaw')}" class="navigation-element">
                        <a href="#/wstaw">Wstaw</a>
                    </div>
                    <div ng-class="{active: activeTab('/szablon')}" class="navigation-element">
                        <a href="#/szablon">Szablon i układ</a>
                    </div>
                    <div id="text-tab" style="display: none" ng-class="{active: activeTab('/tekst')}" class="navigation-element">
                        <a href="#/tekst">Edycja tekstu</a>
                    </div>
                    <div id="image-tab" style="display: none" ng-class="{active: activeTab('/obraz')}" class="navigation-element">
                        <a href="#/obraz">Edycja obrazu</a>
                    </div>
                    <div ng-show="isCalendar" ng-class="{active: activeTab('/ustawienia')}" class="navigation-element">
                        <a href="#/ustawienia">Ustawienia</a>
                    </div>
                    <div class="navigation-element"><a href ng-click="$parent.saveProject()">Zapisz projekt</a></div>
                    <div class="navigation-element" ng-show="user_id">
                        <a href="{{ path('logout') }}">Wyloguj</a>
                    </div>
                    <div class="navigation-element" ng-hide="user_id">
                        <a ng-click="$parent.openLogin()">Zaloguj</a>
                    </div>
                </div>
        </nav>
    </div>
    <div ng-show="view == 2" class="menu-items">
        <!-- header items -->
        <div ng-view></div>
        <!-- end header items -->
    </div>

    <div class="clearfix">
        <div class="text-center">
            <div ng-switch="view">
                <div ng-switch-when="0" ng-controller="PreviewController">
                    <div slider id="bx-slider"></div>
                </div>
                <div ng-show="loaded" ng-switch-when="2" ng-style="{height: (fabric.canvasHeight+50)+'px'}">
                    <div ng-show="notice.text" class="info-bar [[notice.class]]" ng-bind="notice.text"></div>
                    <div ng-class="{spiral: isCalendar}"
                         ng-style="{top: ((fabric.canvasWidth+(document.padding.right+document.padding.left)*fabric.canvasScale)/40)+'px',height: ((fabric.canvasWidth+(document.padding.right+document.padding.left)*fabric.canvasScale)/24)+'px',width: (fabric.canvasWidth+(document.padding.right+document.padding.left)*fabric.canvasScale)+'px'}"></div>
                    <div class="calendar canvas-wrapper"
                         ng-style="{visibility: 'visible', width: (fabric.canvasWidth+(document.padding.right+document.padding.left)*fabric.canvasScale)+'px','padding-top': document.padding.top*fabric.canvasScale+'px',
                    'padding-right': document.padding.right*fabric.canvasScale+'px','padding-bottom': document.padding.bottom*fabric.canvasScale+'px',
                    'padding-left': document.padding.left*fabric.canvasScale+'px'}">
                        <canvas fabric></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" ng-controller="FooterController">
        <div class="footer-left">
            <div>
                <div class="inline-block">
                    <div class="footer-list-inner">
                        <a href ng-click="openHelp()" class="footer-button-help"><i
                                    class="icon icon-question-circle icon-lg"></i><span
                                    class="footer-button-text">Pomoc</span></a></div>
                </div>
                <div class="inline-block pull-right footer-3-buttons">
                    <div ng-click="navigateTo(2)" class="footer-list-inner footer-button"
                         ng-class="{'footer-button-active': isActiveFooterTab(2)}"><i
                                class="icon icon-blackboard icon-lg"></i><span
                                class="footer-button-text">Edytor</span>
                    </div>
                    <div ng-show="user_id==17" ng-click="makePDF()" class="footer-list-inner">
                        <a href class="footer-button"><i
                                    class="icon icon-th icon-lg"></i><span
                                    class="footer-button-text">PDF</span></a>
                    </div>
                    <div class="footer-list-inner">
                        <a href ng-click="navigateTo(0)" class="footer-button"
                           ng-class="{'footer-button-active': isActiveFooterTab(0)}"><i
                                    class="icon icon-eye icon-lg"></i><span
                                    class="footer-button-text">Podgląd</span></a></div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div ng-show="view==2" class="footer-middle-list flex-display">
                <div class="footer-middle-lr-flex" ng-click="previousFrame()"><i
                            class="icon icon-chevron-left icon-lg pull-left margin-left-8"></i><span
                            class="footer-middle-button-lr-text">Poprzedni</span></div>
                <div class="inline-block footer-middle-flex"><span
                            class="footer-middle-button-text footer-button-month-text"
                            ng-bind="$parent.frames[$parent.currentFrame].name"></span></div>
                <div class="footer-middle-lr-flex" ng-click="nextFrame()"><span
                            class="footer-middle-button-lr-text">Następny</span><i
                            class="icon icon-chevron-right icon-lg pull-right margin-right-8"></i></div>
            </div>
            <p ng-show="view==0"><span class="preview-title"
                                       ng-bind="$parent.previewName"></span></p>
        </div>
        <div class="footer-right">
            <div ng-show="view==2">
                <ul class="footer-buttons-list">
                    <li class="footer-scale-zipper">
                        <a href ng-click="dicreaseSize()"><i class="icon icon-minus footer-adjustments-size"></i></a>
                        <div class="footer-zipper">
                            <div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all margin-top-5">
                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
                                  ng-style="{left: ($parent.fabric.canvasScale * 60) + '%'}"></span>
                            </div>
                        </div>
                        <a href ng-click="increaseSize()"><i class="icon icon-plus footer-adjustments-size"></i></a>
                    </li>
                    <li class="footer-scale-button"><a href ng-click="setFullScreen()"><i
                                    class="icon icon-fullscreen footer-scale-size"></i></a>
                    </li>
                    <li class="footer-scale-button"><a href ng-click="$parent.setZoom(1)"><b
                                    class="footer-scale-11">1:1</b>
                        </a></li>
                    <li class="footer-scale-button"><a href ng-click="$parent.setZoom(0.6)"><i
                                    class="icon icon-width footer-scale-size"></i></a></li>
                    <li class="footer-scale-button"><a href ng-click="$parent.setZoom(0.8)"><i
                                    class="icon icon-height footer-scale-size"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

