{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <script type="text/javascript">
        $('body').css('background', '#F4F4F4');
    </script>
    <div>
    <nav class="navigation" ng-controller="HeaderController">
        <ul class="navigation-list">
            <li class="pull-right navigation-element">
                <a class="navigation-list-archon" href="order#/logout">WYLOGUJ</a>
            </li>
            <li class="pull-right order-welcome-text"></li>
            <li ng-class="{active: activeTab('/koszyk')}" class="navigation-element">
                <a class="navigation-list-archon" href="order#/koszyk">Twój koszyk</a>
            </li>
            <li ng-class="{active: activeTab('/zapisane')}" class="navigation-element">
                <a class="navigation-list-archon" href="order#/zapisane">Zapisane projekty</a>
            </li>
            <li ng-class="{active: activeTab('/historia')}" class="navigation-element">
                <a class="navigation-list-archon" href="order#/historia">Historia zamówień</a>
            </li>
            <li ng-class="{active: activeTab('/kody')}" class="navigation-element">
                <a class="navigation-list-archon" href="order#/kody">Kody promocyjne</a>
            </li>
            <li ng-class="{active: activeTab('/ustawienia')}" class="navigation-element">
                <a class="navigation-list-archon" href="order#/ustawienia">Ustawienia konta</a>
            </li>
        </ul>
    </nav>

    <div class="order-first-div">
        <div class="pull-right">
            <p class="order-text-normal order-text-normal-position inline-block"><span class="order-top-text-fix">Zamawiasz </span><span
                        class="order-bolder-text">1 produkt</span><span
                        class="order-top-text-fix"> z Twojego koszyka</span></p>

            <form class="order-inline-block">
                <input class="order-grey-button" type="submit" value="Dodaj produkty">
            </form>
        </div>
    </div>

    <div class="order-second-div">
        <p>Produkt</p>

        <p class="margin-left-30">Nazwa projektu</p>

        <p>Nr</p>

        <p>Data dodania</p>

        <p>Liczba sztuk</p>

        <p>Kod promocyjny</p>

        <p>Cena</p>

        <p></p>
    </div>

    <div class="order-third-div">
        <div class="order-third-div-wrapper">
            <div class="order-flex-left">
                <div class="order-flex-left order-border-bottom-small">
                    <p class="order-third-div-element"><strong>Kalendarz A3</strong></p>

                    <p class="order-third-div-element margin-right-minus-15">Tradycyjny 2 <i
                                class="icon icon-pencil order-favicon"></i></p>

                    <p class="order-third-div-element order-flex-none margin-right-minus-15">0034289</p>

                    <p class="order-third-div-element order-flex-none margin-right-28">26 Luty 2015</p>

                    <div class="input-group spinner">
                        <input type="text" class="form-control" value="1">

                        <div class="input-group-btn-vertical">
                            <button class="btn btn-default"><i class="icon icon-caret-up"></i></button>
                            <button class="btn btn-default"><i class="icon icon-caret-down"></i></button>
                        </div>
                    </div>


                    <input class="form-order" type="text"/>
                </div>
                <p class="order-third-div-element order-inline-block margin-top-0"><strong class="order-big-amount">99,00</strong>
                    PLN</p>
            </div>

            <div class="order-flex-left order-border-bottom-shadow-small pull-left"></div>

            <div class="clearfix"></div>
            <div class="order-flex-left">
                <p class="order-third-div-element margin-right-55"><span class="order-grey-color">Dodatki</span></p>

                <div class="order-third-div-element-double order-inline-block order-fourth-div-checkbox-1 margin-right-55">
                    <input type="checkbox" id="checkbox3" class="css-checkbox" checked="checked">
                    <label for="checkbox3" name="checkbox2_lbl"
                           class="css-label order-checkbox-fix"><span class="header-checkbox-label">Dwukrotnie grubszy papier (9 PLN)</span></label>
                </div>
                <div class="order-third-div-element-double order-inline-block order-fourth-div-checkbox-2 margin-right-55">
                    <input type="checkbox" id="checkbox4" class="css-checkbox" checked="checked">
                    <label for="checkbox4" name="checkbox2_lbl" class="css-label"><span
                                class="header-checkbox-label">Brak logo producenta (19 PLN)</span></label>
                </div>
                <form class="order-third-div-element order-inline-block">
                    <input class="order-grey-button order-choose-button order-inline-block" type="submit"
                           value="Wybierz">

                </form>
                <div class="order-third-div-element order-inline-block">
                    <p class="order-inline-block order-additional-price-position"><strong class="order-big-amount-2">+28,00</strong>
                        PLN</p>
                </div>
            </div>
        </div>
        <div class="order-icons-right pull-right order-inline-block">
            <p><a href="#"><i class="icon icon-pencil order-favicon"></i><span
                            class="order-icon-label">Edytuj</span></a></p>

            <p><a href="#"><i class="icon icon-search order-favicon"></i><span
                            class="order-icon-label">Podgląd</span></a></p>

            <p><a href="#"><i class="icon icon-copy order-favicon"></i><span class="order-icon-label">Kopiuj</span></a>
            </p>

            <p><a href="#"><i class="icon icon-bin order-favicon"></i><span class="order-icon-label">Usuń</span></a></p>
        </div>
    </div>
    <div class="order-fifth-div">
        <p class="order-text-normal">Wybierz sposób wysyłki</p>

        <form class="text-center">
            <div class="order-radio-button-border-active order-inline-block">
                <div class="order-radio-button-active order-inline-block"><input class="order-radio-circle" id="radio1"
                                                                                 type="radio" name="group1" value="1"
                                                                                 checked> <label
                            class="order-radio-button-text" for="radio1">Wysyłka kurierem UPS</label></div>
            </div>
            <div class="order-radio-button-border order-inline-block">
                <div class="order-radio-button order-inline-block"><input class="order-radio-circle" id="radio2"
                                                                          type="radio" name="group1" value="2"> <label
                            class="order-radio-button-text" for="radio2">Odbiór w paczkomacie</label></div>
            </div>
            <div class="order-radio-button-border order-inline-block">
                <div class="order-radio-button order-inline-block"><input class="order-radio-circle" id="radio3"
                                                                          type="radio" name="group1" value="3"> <label
                            class="order-radio-button-text" for="radio3">Odbiór w punkcie Poczty Polskiej</label></div>
            </div>
            <div class="order-radio-button-border order-inline-block">
                <div class="order-radio-button order-inline-block"><input class="order-radio-circle" id="radio4"
                                                                          type="radio" name="group1" value="4"> <label
                            class="order-radio-button-text" for="radio4">Wysyłka za pośrednictwem Poczty
                        Polskiej</label></div>
            </div>
        </form>
    </div>

    <div class="order-sixth-div">
        <div><span class="order-header-text">Dane adresowe</span></div>
        <div class="order-inline-block">
            <form>
                <div class="order-inline-block order-form-div">
                    <div><label class="order-form-label" for="user-info-1">Imię i nazwisko</label><input
                                class="order-form-input" id="user-info-1" type="text"></div>
                    <div><label class="order-form-label" for="user-info-2">Firma</label><input class="order-form-input"
                                                                                               id="user-info-2"
                                                                                               type="text"></div>
                    <div><label class="order-form-label" for="user-info-3">Adres</label><input class="order-form-input"
                                                                                               id="user-info-3"
                                                                                               type="text"></div>
                </div>
                <div class="order-inline-block order-form-div">
                    <div><label class="order-form-label" for="user-info-4">Kod, miasto</label><input
                                class="order-post-code-field" id="user-info-4" type="text">
                        <input class="order-city-field" id="user-info-5" type="text"></div>
                    <div><label class="order-form-label" for="user-info-6">Kraj</label><input class="order-form-input-2"
                                                                                              id="user-info-6"
                                                                                              type="text"></div>
                    <div><label class="order-form-label" for="user-info-7">Telefon</label><input
                                class="order-form-input-2" id="user-info-7" type="text"></div>
                </div>
            </form>
        </div>

        <div class="order-summary-wrapper order-inline-block pull-right">
            <p class="order-summary-text">Suma do zapłaty: 119,90 PLN</p>

            <div class="order-summary-button-wrapper order-inline-block">
                <a class="order-order-button" href="#"><i class="icon icon-wallet"></i><span
                            class="order-order-button-text">ZAMÓW</span></a>
            </div>
            <div class="order-summary-details-wrapper order-inline-block">
                <p class="order-summary-details-text">Koszt produktu: <span class="pull-right">&nbsp 99,90 PLN</span>
                </p>

                <p class="order-summary-details-text">Koszt dostawy: <span class="pull-right">&nbsp 19,90 PLN</span></p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

